extends layout

-var data = #{data}

block content
  header.eatnow
    h1 EatNow - 分派清單
  article.col-sm-10
    - for(var i = 0; i< data.length; i++) {
    section
      h2= data[i].time
      table.table.table-bordered.table-hover
        thead
          tr
            th 送餐員
            th 地點
            th 餐點
            th 數量
            th 訂餐人
            th 價格
        - for(var j = 0; j< data[i].dmans.length; j++) {
        - for(var k = 0; k< data[i].dmans[j].rooms.length; k++) {
        - for(var l = 0; l< data[i].dmans[j].rooms[k].menu.length; l++) {
          tr
            td= data[i].dmans[j].name
            td= data[i].dmans[j].rooms[k].name
            td= data[i].dmans[j].rooms[k].menu[l].mealName
            td= data[i].dmans[j].rooms[k].menu[l].quantity
            td= data[i].dmans[j].rooms[k].account
            td= data[i].dmans[j].rooms[k].price
        - }
        - }
        - }
    - }
