extends layout

-var data = #{data}

block content
  header.eatnow
    h1(style="display: inline-block;") EatNow - 餐廳
    h3.btnAddRest.headerIcon.glyphicon.glyphicon-plus
  article.col-sm-10
    - for(var i = 0; i< data.length; i++) {
    section(data-cname=data[i].cname, data-id=data[i].id, data-img=data[i].img, data-place=data[i].place)
      h2(style="display: inline-block;")= data[i].cname
      span.btnEditRest.headerIcon.glyphicon.glyphicon-pencil
      span.btnRemoveRest.headerIcon.glyphicon.glyphicon-minus
      table.table.table-bordered.table-hover
        thead
          tr
            th
            th 餐點名稱
            th 價格
        - for(var j = 0; j< data[i].menu.length; j++) {
          tr
            td(data-cname=data[i].menu[j].cname, data-id=data[i].menu[j].id, data-price=data[i].menu[j].price, data-rid=data[i].id)
              span.btnEditMenu.headerIcon.glyphicon.glyphicon-pencil
              span.btnRemoveMenu.headerIcon.glyphicon.glyphicon-minus
            td= data[i].menu[j].cname
            td= data[i].menu[j].price
        - }
      span.btnAddMenu.headerIcon.glyphicon.glyphicon-plus
    - }



  section#createMenuForm.adminLoginPanel.col-sm-12
    button.login-close-panel(style="float: right;")
      span#btnCloseMenuForm.glyphicon.glyphicon-remove-circle

    header Menu

    form.form-horizontal(role="form", method="post", action="")
      input(type="hidden" name="method" value="")
      input(type="hidden" name="restaurantId" value="")
      input(type="hidden" name="id" value="")
      div.form-group
        label.col-sm-3.control-label(for="inputMName") name
        div.col-sm-9
          input#inputMName.form-control(type="text", name="cname", placeholder="name")
      div.form-group
        label.col-sm-3.control-label(for="inputPrice") price
        div.col-sm-9
          input#inputPrice.form-control(type="text", name="price", placeholder="price")
      div.form-group
        div.col-sm-offset-1.col-sm-11
          button.btn.btn-primary.btn-block submit



  section#createRestForm.adminLoginPanel.higher.col-sm-12
    button.login-close-panel(style="float: right;")
      span#btnCloseRestForm.glyphicon.glyphicon-remove-circle

    header Rest

    form.form-horizontal(role="form", method="post", action="/resources/restaurants")
      input(type="hidden" name="method" value="")
      input(type="hidden" name="id" value="")
      div.form-group
        label.col-sm-3.control-label(for="inputName") name
        div.col-sm-9
          input#inputName.form-control(type="text", name="cname", placeholder="name")
      div.form-group
        label.col-sm-3.control-label(for="inputImg") img
        div.col-sm-9
          input#inputImg.form-control(type="text", name="img", placeholder="image path")
      div.form-group
        label.col-sm-3.control-label(for="inputPlace") place
        div.col-sm-9
          input#inputPlace.form-control(type="text", name="place", placeholder="place")
      div.form-group
        div.col-sm-offset-1.col-sm-11
          button.btn.btn-primary.btn-block submit

  script.
    function postForm(frm, cb) {
      var action = frm.attr('action');
      var method = frm.attr('method');
      var callback = cb || $.noop;
      console.log(frm, frm.serialize())
      $.ajax({
        url: action,
        type: method,
        data: frm.serialize(),
        dataType: 'json',
        success: function (res) {
          console.log(res);
          callback(res);
        },
        error: function (xhr, ajaxOptions, thrownError) {
          console.log(xhr, ajaxOptions, thrownError);
          var feedback = {};
          if(xhr && xhr.responseText){
            var json = null;
            try {
              json = JSON.parse(xhr.responseText);
              for(var i in json){
                feedback[i] = json[i];
              }
            } catch(e) {

            }
          }
          callback(feedback);
        }
      });
    }

  script.
    $("#createMenuForm").hide();
    $("#createRestForm").hide();

    $('.btnAddRest').click(function(){
      $("#createRestForm").find("form input").val('');
      $("#createRestForm").find("form> input[name='method']").val('create');
      $("#createRestForm").show();
    });
    $('.btnAddMenu').click(function(){
      var rid = $($(this).parent()).data('id');
      var path = '/resources/restaurants/' + rid;
      $("#createMenuForm").find("form input").val('');
      $("#createMenuForm").find("form").attr('action', path);
      $("#createMenuForm").find("form> input[name='method']").val('create');
      $("#createMenuForm").find("form input[name='restaurantId']").val(rid);
      $("#createMenuForm").show();
    });

    $('#btnCloseRestForm').click(function(){
      $("#createRestForm").hide();
    });
    $('#btnCloseMenuForm').click(function(){
      $("#createMenuForm").hide();
    });


    $('.btnEditRest').click(function(){
      var id = $($(this).parent()).data('id');
      var cname = $($(this).parent()).data('cname');
      var img = $($(this).parent()).data('img');
      var place = $($(this).parent()).data('place');

      $("#createRestForm").find("form> input[name='method']").val('update');
      $("#createRestForm").find("form> input[name='id']").val(id);
      $("#createRestForm").find("form input[name='cname']").val(cname);
      $("#createRestForm").find("form input[name='img']").val(img);
      $("#createRestForm").find("form input[name='place']").val(place);
      $("#createRestForm").show();
    });
    $('.btnEditMenu').click(function(){
      var id = $($(this).parent()).data('id');
      var cname = $($(this).parent()).data('cname');
      var price = $($(this).parent()).data('price');
      var rid = $($(this).parent()).data('rid');
      var path = '/resources/restaurants/' + rid;
      $("#createMenuForm").find("form").attr('action', path);
      $("#createMenuForm").find("form> input[name='method']").val('update');
      $("#createMenuForm").find("form> input[name='id']").val(id);
      $("#createMenuForm").find("form input[name='cname']").val(cname);
      $("#createMenuForm").find("form input[name='price']").val(price);
      $("#createMenuForm").find("form input[name='restaurantId']").val(rid);
      $("#createMenuForm").show();
    });

    $('.btnRemoveRest').click(function() {
      var id = $($(this).parent()).data('id');
      $("#createRestForm").find("form> input[name='method']").val('delete');
      $("#createRestForm").find("form input[name='id']").val(id);
      $("#createRestForm").find('form').submit();
    });

    $('.btnRemoveMenu').click(function() {
      var id = $($(this).parent()).data('id');
      var rid = $($(this).parent()).data('rid');
      var path = '/resources/restaurants/' + rid;
      $("#createMenuForm").find("form").attr('action', path);
      $("#createMenuForm").find("form> input[name='method']").val('delete');
      $("#createMenuForm").find("form input[name='restaurantId']").val(rid);
      $("#createMenuForm").find("form input[name='id']").val(id);
      $("#createMenuForm").find('form').submit();
    });



    //- $('#createRestForm > form').on('submit', function (event) {
    //-   event.preventDefault();
    //-   var frm = $(this);
    //-   var cb = function(res) {
    //-     //location.reload();
    //-   };
    //-   postForm(frm, cb);
    //- });

    //- $('#createMenuForm > form').on('submit', function (event) {
    //-   event.preventDefault();
    //-   var frm = $(this);
    //-   var cb = function(res) {
    //-     //location.reload();
    //-   };
    //-   postForm(frm, cb);
    //- });
